@import './element-ui.scss';

*{
  padding:0;
  margin:0;
}

.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
